[Unit]
Description=Minecraft Backup Service

[Service]
Type=oneshot
ExecStart=sudo -u sksat /home/amoka/srv/neconoa.f5.si/backup.sh

[Install]
WantedBy=default.target
